.env
dadosGithub.txt
node_modules
dist
.DS_Store
.vscode
npm
-debug.log*
yarn
.pnp
.pnp.js
.idea
*.sublime-workspace
*.sublime-project
*.log
coverage
*.tsbuildinfo
*.env
*.local
*.local.*
*.swp
*.swo
*.pid
*.seed
*.pid.lock
lib-cov
.nyc_output
coverage-final.json
testem.log
.rts2_cache_cjs
.rts2_cache_es
.rts2_cache_umd
*.tgz
.cache      